.place__website__header {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
    margin: 0;
    padding-bottom: 12px;
}

@media screen and (max-width: 767px) {
    .place__website__header {
        padding-left: 16px;
    }
}