.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    list-style: none;
    min-width: 77px;
    padding: 0;
}


@media screen and (max-width: 767px) {
    .header__links {
        min-width: 22%;
    }
}