.intro__list {
    list-style: none;
    margin: 0;
    padding-top: 33px;
    padding-left: 0;
    padding-bottom: 86px;
    color:#FFFFFF;
    font-size: 12px;
    line-height: 1.6;
}

@media screen and (max-width: 767px) {
    .intro__list {
        padding-bottom: 64px;
    }
}