.lead {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 56px;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: 91%;
        padding-top: 48px;
        min-height: 962px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        max-width: 768px;
        min-height: 862px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        max-width: 100%;
        min-height: 406px;
    }
}

