.lead {
    max-width: 984px;
    min-height: 1005px;
    margin: 0 auto;
    padding-top: 56px;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        padding-top: 48px;
        min-height: 962px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        min-height: 862px;
    }
}