.cover__subtitle {
    max-width: 360px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 32px;
    text-align: center;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        padding-top: 16px;
        max-width: 288px;
    }
}