.place__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 26px 0;
}

@media screen and (max-width: 1024px) {
    .place__text:last-child {
        padding-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .place__text {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .place__text {
        font-size: 16px;
        margin: 0 auto;
        line-height: 1.6;
    }
    .place__text:last-child {
            padding-bottom: 20px;
    }
}