.place__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0;
    padding: 0 0 26px 0;
}

.place__text:last-child {
        padding-bottom: 0;
    }

@media screen and (max-width: 1023px) {
    .place__text {
        font-size: 16px;
        padding: 0 0 25px 0;
    }
}

@media screen and (max-width: 767px) {
    .place__text {
        line-height: 26px;
    }
    .place__text:last-child {
        padding-bottom: 0;
    }
}