.footer__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #FFFFFF;
    padding-right: 18px;
    transition: opacity .3s;
}

.footer__link:hover {
    opacity: 0.7;
}