.lead__title {
    width: 73%;
    margin: 0 auto;
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .lead__title {
        max-width: 91%;
    }
}