.lead__title {
    width: 720px;
    margin: 0 auto;
    font-size: 96px;
    font-weight: 900;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .lead__title {
        width: 100%;
        font-size: 40px;
        line-height: 1.1;
    }
}

