.lead__image {
    max-width: 100%;
    min-height: 615px;
    margin-top: 64px;
    background-image: url(../../../images/lead-polka.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin-top: 56px;
        min-height: 580px;
    }
}

@media screen and (max-width: 767px) {
    .lead__image {
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        min-height: 200px;
        margin-top: 40px;
    }
}
