.intro__text {
    max-width: 690px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    margin: 0;
    padding-top: 40px;
}

@media screen and (max-width: 768px) {
    .intro__text {
        max-width: 720px;
    }
}