.cover {
    padding: 0 48px;
}

@media screen and (max-width: 1184px) {
    .cover {
        padding: 0;
    }
}

/* @media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        max-width: 100%;
        min-height: 200px;
    }
} */