.cover {
    max-width: 1184px;
    min-height: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../images/cover-trains.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .cover {
        width: 100vw;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
    .cover {
        max-width: 320px;
        min-height: 200px;
    }
}