.place__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity .3s;
}

.place__link:hover {
    text-decoration: underline;
    opacity: .7;
}

@media screen and (max-width: 767px) {
    .place__link {
        padding-left: 16px;
    }
}