.lead__caption {
    font-size: 10px;
    color: #FFFFFF;
    line-height: 14px;
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .lead__caption {
        padding-left: 16px;
    }
}

