.lead__caption {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 14px;
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
}

