.cover__title {
    max-width: 560px;
    min-height: 152px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 72px;
    font-weight: 900;
    line-height: 1;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 72px;
    }
}
