.place {
    max-width: 100%;
    padding-top: 75px;
    margin: 0;
    display: grid;
    grid-template-columns: 47% 1fr;
    grid-template-rows: auto 1fr;
    row-gap: 48px;
    column-gap: 40px;
}

.place:first-child {
    padding-top: 92px;
}

@media screen and (max-width: 1279px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 1100px) {
    .place {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        padding-top: 75px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        row-gap: 45px;
        column-gap: 26px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        padding-top: 70px;
    }
    .place:first-child {
        padding-top: 88px;
        grid-template-rows: 92px 1fr;
    }
}

@media screen and (max-width: 640px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
        gap: 32px;
        padding-top: 50px;
    }
    .place:first-child {
        padding-top: 64px;
        grid-template-rows: 35px;
    }
}