.place {
    max-width: 100%;
    padding-top: 75px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    row-gap: 48px;
    column-gap: 40px;
}

.place:first-child {
    padding-top: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr auto;
        padding-top: 78px;
        row-gap: 48px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content min-content;
        gap: 32px;
        padding-top: 50px;
    }
    .place:first-child {
        padding-top: 0;
        grid-template-rows: 35px;
    }
    .place:last-child {
        padding-top: 82px;
    }
}