.footer {
    max-width: 1184px;
    min-height: 18px;
    margin: 0 auto;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        max-width: 94%;
        padding-top: 88px;
    }
}

@media screen and (max-width: 699px) {
    .footer {
        max-width: 58%;
        min-height: 310px;
        padding-top: 64px;
        padding-left: 16px;
        margin: 0;
    }
}