.footer__content {
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__content {
        flex-direction: column;
        align-items: flex-start;
    }
}